/*Components*/
@import "/resources/css/components/favorites.css";

/*Common*/
@import "/resources/css/common.css";

/*Screens*/

#coffeelist {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 80%;
}
.coffeelist-column_1{
    flex: 1;
    transition: width 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coffeelist-column_2{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
}

/*first column*/
.coffeelist-column__header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.coffeelist-title {
    margin-top: 15px;
    font-size: 28px;
    font-weight: 600;
}
.coffeelist-add{
    position: absolute;
    bottom: 15px;
    left: 15%;
    width: 90px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid var(--ccm-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffeelist-add a{
    font-size: 15px;
}
.coffeelist-add:hover{
    background-color: var(--ccm-color1);
}
.coffeelist-add:hover a{
    color: white;
}

.coffeelist-searchbox{
    margin: 15px;
    width: 300px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coffeelist-searchbox__select{
    border: none;
    height: 30px;
    width: 70px;
    padding-left: 5px;
    border-radius: 14px;
    background-color: var(--ccm-color1);
    color: var(--ccm-color2);
    position: absolute;
    left: -30px;
    top: 1px;
}
.coffeelist-searchbox__input{
    height: 30px;
    width: 280px;
    border-radius: 15px;
    padding-left: 80px;
    border: none;
}
.coffeelist-searchbox__btn{
    background-color: var(--ccm-color1);
    height: 30px;
    width: 30px;
    border-radius:14px;
    color: var(--ccm-color2);
    position: absolute;
    right: -30px;
    top: 1px;
}
.coffeelist-searchbox__btn:hover{
    background-color: var(--ccm-color2);
    color: var(--ccm-color1);
    border: 1px solid var(--ccm-color1);
}



.coffee-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70%;
    max-width: 950px;
}
.coffeelist-container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coffeelist-item {
    margin: 10px;
    width: 140px;
    height: 160px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--ccm-color2);
    box-shadow: 3px 5px 8px -1px #9E9E9E;
}
.coffeelist-item__img{
    display: block;
    margin-top: 10px;
    height: 80px;
    width: 80px;
}
.coffeelist-item__name{
    font-size: 15px;
    font-weight: 500;
}
.coffeelist-item__info{
    font-size: 10px;
}
.coffeelist-item__btn-area{
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 100%;
}
.coffeelist-item__fav{
    height: 20px;
    width: 80%;
    border-radius: 10px;
    background-color: black;
    bottom: 5px;
    right: 5px;
    color: white;
}
.coffeelist-item__fav:hover{
    background-color: var(--ccm-color2);
    color: black;
}
.coffeelist-item__modify-btn{
    position: absolute;
    top: 5px;
    left: 4px;
}
.coffeelist-item__modify-btn button{
    background-color: transparent;
    border: none;
}
.fa-wrench{
    font-size: 15px;
}
.coffeelist-item__delete-btn{
    position: absolute;
    top: 6px;
    right: 4px;
    border: none;
    background-color: transparent;
}
.fa-trash{
    font-size: 15px;
}




.pagination {
    text-align: center;
    margin-top: 20px;
}

/*second coloumn*/
.coffeelist-column_2__title{
    height: 70px;
}
.favbox{
    height: auto;
    overflow-y: auto;
}
.favbox::-webkit-scrollbar {
    width: 0;
}
/*third column*/
.coffeelist-column_3{
    display: block;
    height: 20vh;
    width: 35px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
}
.coffeelist-column_3 i{
    color: black;
    font-size: 30px;
}
.fp-item__img {
    height: 60px;
    width: 60px;
}


/*모달 관련*/

/* 모달 바깥 백그라운드 */
.coffeelist-modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; /*필요 시 스크롤 가능*/
	background-color: #E1DDDB;
	padding-top: 50px;
}
/*캔슬,Ok 버튼*/
.coffeelist-modalcancelbtn, .coffeelist-modalOkbtn {
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	opacity: 0.9; /*투명도*/
	float: left;
	width: 50%;
}

.coffeelist-modalcancelbtn:hover, .coffeelist-modalOkbtn:hover{
	opacity: 1.0;
}

.ccoffeelist-modalcancelbtn {
	background-color: #EF6C33;
	color: black;
}
/* 델리트 버튼 */
.coffeelist-modalOkbtn {
	background-color: #EF6C33;
}	
/* 텍스트 중앙 정렬, 패딩 */
.coffeelist-modalcontainer {
	padding: 16px;
	text-align: center;
}
/* 모달 컨텐츠 박스 */
.coffeelist-modalcontent {
	background-color: #fefefe;
	margin: 5% auto 15% auto; 
	border: 1px solid #888;
	width: 80%; 
}
/* 모달 X 버튼 */
.coffeelist-modalclosebtn {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: black;
}
/* 모달 close 버튼: 마우스 올렸을 때, 포커스 됐을 때 hover*/
.coffeelist-modalclosebtn:hover,
.coffeelist-modalclosebtn:focus {
  color: #f44336;
  cursor: pointer;
}
/* 플로트 속성 초기화 */
.coffeelist-modalclearfix::after {
  content: ""; 
  clear: both; 
  display: table;
}