 @charset "UTF-8";
/*variables*/
:root {
    --ccm-color1:black;
    --ccm-blue:rgb(0, 209, 255);
    --ccm-yellow:rgb(255, 245, 0);
}
/*common style*/
.clickable:hover {
    cursor: pointer;
}
a{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: black;
}

body {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    /* background: rgba(12, 74, 96, 1); */
    background: rgba(200, 200, 200, 0.3);
    transition: 0.5s;
    color: black;            
}

@media screen and (max-width: 900px) {
	.body{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

.wrapper {
	width: 90%;
	height: 90vh;
	border-radius: 20px;
	box-shadow: 
		inset -0px -0px 3px rgba(0, 0, 0, 0.1),
		inset 0px -0px 3px rgba(0, 0, 0, 0.1),
		inset -0px 0px 3px rgba(0, 0, 0, 0.1),
		inset 0px 0px 3px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 2vw;
    }
    
@media screen and (max-width: 900px) {
	.wrapper{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

/*---------- header ----------*/
header{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 1em;
}

@media screen and (max-width: 900px) {
	.header{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

.header_col_1-to-2 {
    grid-column: 1 / span 2;
} 

.header_col_3-to-4 {
    grid-column: 3 / span 2;
    display: inline-block;
} 

.headerLinks {
	font-family: san-serif;
	font-size: 0.9em;
	/*text-transform: uppercase;*/
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin: 1vw;
}

.headerLinks:hover {
	color: rgb(239, 108, 51);
	font-weight: bold;
	font-size: 0.9em;
	transform: scale(1.2);
}


/*---------- section ----------*/
/* section{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	align-items: center;
	text-align: center;
	height: 70vh;
	margin: 1em;
	overflow: auto;
}

@media screen and (max-width: 900px) {
	.section{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
} */


/*---------- footer ----------*/
footer{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 150px;
	grid-gap: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    margin: 1em;
}

@media screen and (max-width: 900px) {
	.footer{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

.footer_col_6 {
    grid-column: 6 / span 2; /* 6번 열부터 시작하여 2개의 열에 걸쳐 설정 */
    place-items: center; /* 내용을 수직 및 수평 가운데로 정렬합니다. */
}

.footerLinks {
	font-family: san-serif;
	font-size: 0.4em;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(150, 150, 150, 1);
}