@charset "UTF-8";

div.divdropdown{
float: right;
}

.dropdown {
  display: inline-block;
  position: relative;
}

 button.dropdown{
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
} 
 
button:hover{
  background-color:#ddd;
} 

.dropdown-options {
  display: none;
   position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
}

 .dropdown:hover .dropdown-options {
   display: block; 
} 

.dropdown-options li {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options li:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}



#searchInput {
	width : 500px;
	
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* 아이템 간의 간격 */
    list-style-type: none; /* 리스트 스타일 제거 */
} 

#board li {
    text-align: center; /* 텍스트 중앙 정렬 */
}

#board img {
    max-width: 100%; /* 이미지 크기 조절 */
}

     .dropdown {
    display: inline-block;
    margin-right: 10px; /* 각 드롭다운 사이의 간격을 위한 마진 */
}

