@charset "UTF-8";


/*---------- 검색창 ----------*/
#searchInput {
	width : 50vw;
	float: left;
}


/*---------- 옵션 버튼 ----------*/
.dropdown {
    display: inline-block;
}

div.divdropdown{
float: right;
}

.dropdown {
  display: inline-block;
  position: abstract;
}

 button.dropdown{
  border:none;
  border-radius:5px;
  padding: 0.5vw 2vh;
  font-size:1em;
  cursor:pointer;
} 
 
button:hover{
  background-color:#ddd;
} 

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); 
}

 .dropdown:hover .dropdown-options {
   display: block; 
} 

.dropdown-options li {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options li:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}


/*---------- 게시글 목록 ----------*/
img {
  width: 30vw;
  height: 50vh;
  object-fit: cover;
  /* border-radius:50%; */ /* 이미지사진 모양 (현재동글) */
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* 아이템 간의 간격 */
    list-style-type: none; /* 리스트 스타일 제거 */
} 

#board li {
    text-align: center; /* 텍스트 중앙 정렬 */
}

#board img {
    max-width: 100%; /* 이미지 크기 조절 */
}

.boardTextBox{
  width: auto;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}

.boardTextLeft{
	text-align: left; 
}

.boardTextRigth{
	text-align: right; 
}


/*---------- grid-set ----------*/
section{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	align-items: center;
	text-align: center;
	height: 80vh;
	margin: 1em;
	overflow: auto;
}

@media screen and (max-width: 900px) {
	.section{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

/*2행*/
.section_col_1_row_2 {
    grid-column: 1;
    place-items: center;
	grid-row: 2;
} 

/*홈버튼*/
.section_col_2_row_2 {
    grid-column: 2;
    place-items: center;
	grid-row: 2;
} 

/*글 작성*/
.section_col_3_row_2 {
    grid-column: 3;
    place-items: center;
	grid-row: 2;
} 

/*검색창*/
.section_col_4-to-11_row_2 {
    grid-column: 4 / span 8;
    place-items: center;
	grid-row: 2;
} 

.section_col_12_row_2 {
    grid-column: 12;
    place-items: center;
	grid-row: 2;
} 

/*3행*/
.section_col_1_row_3 {
    grid-column: 1;
	grid-row: 3;
} 

.section_col_2-to-3_row_3 {
    grid-column: 2 / span 2;
    place-items: center;
	grid-row: 3;
}

.section_col_4-to-5_row_3 {
    grid-column: 4 / span 2;
    place-items: center;
	grid-row: 3;
}

.section_col_6-to-7_row_3 {
    grid-column: 6 / span 2;
    place-items: center;
	grid-row: 3;
}

.section_col_8-to-9_row_3 {
    grid-column: 8 / span 2;
    place-items: center;
	grid-row: 3;
}

.section_col_10-to-11_row_3 {
    grid-column: 10 / span 2;
    place-items: center;
	grid-row: 3;
}

.section_col_12_row_3 {
    grid-column: 12;
    place-items: center;
	grid-row: 3;
} 


/*4행*/
.section_col_1-to-12_row_4 {
    grid-column: 1 / span 12;
    place-items: center;
	grid-row: 4;
} 
