@charset "UTF-8";
/*---------- grid-set ----------*/
section{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 7vh 5vh auto;
	grid-gap: 0.5em;
	align-items: center;
	text-align: center;
	height: 82vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	/* overflow: auto; */
}

@media screen and (max-width: 900px) {
	.section{
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-gap: auto;
	}
}

/*1행-홈버튼, 작성버튼, 검색창*/
.section_col_1-to-4_row_1 {
    grid-column: 1 / span 4; /*행의 1번째 셀부터 4개 까지의 셀 병합 => 1~4번 병합*/
    place-items: center;
	grid-row: 1; /*1번째 행*/
} 

/*2행-태그*/
.section_col_2-to-3_row_2 {
    grid-column: 2 / span 2; /*행의 2번째 셀부터 2개 까지의 셀 병합 2~3번 병합*/
    place-items: center;
	grid-row: 2; /*2번째 행*/
} 

/*3행*/
.section_col_1-to-4_row_3 {
    grid-column: 1 / span 4; /*행의 1번째 셀부터 4개 까지의 셀 병합 1~4번 병합*/
    place-items: center;
	grid-row: 3; /*3번째 행*/
} 
span.cus-box {
    grid-column: 1 / span 4; /*행의 2번째 셀부터 2개 까지의 셀 병합 2~3번 병합*/
    place-items: center;
	grid-row: 3;  /*3번째 행*/
} 


/*---------- 게시글 영역 ----------*/
.cus-box{
    overflow: auto;
    height: 60vh;
}


/*---------- 검색창 ----------*/
#searchInput {
	display: inline-block;
	width : 70%;
	height: 4vh;
	border: 0.1px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background: rgb(253, 253, 253);
    margin-left: 1vw;
    margin-right: 2vw;
}


/*일반 버튼*/
/*홈버튼*/
.button_home{
	background: black;
	color: white;
	font-size:0.8em;
	cursor:pointer;
	width: 4vw;
	height: 4vh;
	border: 0.1px;
	border-radius: 5px;
	margin: 0.3vw;
}

/*작성버튼*/
.button_add{
	font-size:0.8em;
	cursor:pointer;
	width: 5vw;
	height: 4vh;
	border: 0.1px;
	border-radius: 5px;
	margin: 0.3vw;
}

/*---------- 옵션 버튼 ----------*/
.dropdown {
    display: inline-block;
}

div.divdropdown{
float: right;
}

.dropdown {
  display: inline-block;
  position: abstract;
}

 button.dropdown{
  font-size:0.7em;
  cursor:pointer;
  width: 7vw;
  height: 4vh;
  border: 0.1px;
  border-radius: 5px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
} 
 
button:hover{
  background-color: rgb(239, 108, 51);
} 

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
}

 .dropdown:hover .dropdown-options {
   display: block; 
} 

.dropdown-options li {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options li:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}


/*---------- 게시글 목록 ----------*/

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    list-style-type: none;
}

/*각 게시물 카드*/
.boardCard{
	background: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
}

/*하이퍼링크 지워줌*/
.boardCard a{
	color: inherit;
    text-decoration: none;
}

img {
  width: 18vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}


#board img {
    max-width: 100%; /* 이미지 크기 조절 */
}

/*게시물 카드 텍스트*/
#board li {
    text-align: left;
}

.cardTextBox{
  width: auto;
  height: 8vh;
  object-fit: cover;
  margin: 15px;
  font-size: 0.9em;
}

/*--------------------------------------------------- 모달폼 ----------------------------------------------------------*/

/* 작성 모달 */
.modal-container {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5555;
}

.modal-content {
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    margin: 18vh auto 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.modal_close {
	
}


/*--------------------------------------------------- 작성폼 ----------------------------------------------------------*/

.add_form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	width: 90%;
	height: 90%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding: 1em;		
}

.add_left_content {
	grid-column: 1;
}

.add_right_content {
	grid-column: 2;
}

#file {
  display: none;
}

.add_image_preview {
	width: 90%;
	height: 37vh;
	border-radius: 10px 10px 10px 10px;
	margin-top: 3vh;
}

.add_title {
	width: 90%;
	height: 3vh;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    background: rgb(253, 253, 253);
    padding: 2%;
}

.add_content {
	width: 90%;
	height: auto;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    background: rgb(253, 253, 253);
    padding: 2%;
}

.add_option {
	width: 17.8%;
	height: 3vh;
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    background: rgb(253, 253, 253);
}

.add_submit{
	width: 92%;
	height: 3vh;
	border: none;
	border-radius: 5px;
}

.add_submit:hover{
  background-color: rgb(239, 108, 51);
  color: white;
} 

/*--------------------------------------------------- 조회폼 ----------------------------------------------------------*/

.view_form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1em;
	width: 90%;
	height: 90%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	padding: 1em;		
}

.view_left_content {
	grid-column: 1;
}

.view_right_content {
	grid-column: 2;
}

.view_right_content_row2 {
	grid-column: 1/ span 2;
	grid-row: 2;
}

.image_view {
	width: 90%;
	height: 37vh;
	border-radius: 10px 10px 10px 10px;
	margin-top: 3vh;
}














/*--------------------------------------------------- 수정 및 삭제 폼 ----------------------------------------------------------*/

/*사진버튼*/
label.input-file-button{
  padding: 6px 25px;
  background-color:#0C4A60;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.file{
	display:none;
}



