@charset "UTF-8";

/* --글자--*/
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    /*font-size: 12px;*/
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }
  
  /*전체 박스 나누기*/
.mypage-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
    height: 70%;
    width: 90%;
}
.item:nth-child(3) {
	grid-column: 1 / 3 ;
	grid-row: 2 / 3;
}
.item:nth-child(4) {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}

.mypage-wrapper{
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.mypageh2{
  padding-left: 20px;
  height: 10%;
}
.mypageh2 h2{
	  font-family : "Jua", sans-serif;
}

/* div 가로로 정렬 */
.profilebox{
  display: flex;
  justify-content: center;
	flex-direction : column;
  align-items: center;
}
.profilebox__1{
  width: 100%;
  height: 30%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hr-sect__2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.profilebox__2{
  width: 100%;
  height: 70%;
  border: 1px solid black;
}
.profilebox__2-img{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilebox__2-profile{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item{
    border: 2px solid gray;
    padding: 20px;
    font-family : "Jua", sans-serif;
    font-size : larger;
}
.hr-sect__btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-sect__btn a{
  margin: 0 !important;
}
.hr-sect__btn-btn{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

/*custom*/
.cus-container{
  min-height: 550px;
}
.custom-box{
  max-height: 250px;
  overflow-y: auto;
}
.boardCard{
  width: 200px;
  max-height: 450px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
}
.cus_img{
  display: block;
  width: 200px;
  height: 200px;
}
.cardTextBox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

/*fav*/
.fav-container{
  width: 100%;
  min-height: 250px;
  overflow-x: auto;
}
.fav-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fp-item {
	width: 110px;
	height: 160px;
	margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
}

.fp-item__img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}





#id.profileimg {
	  object-fit: cover;
	  border-radius: 10px 10px 10px 10px;
	  aspect-ratio: 3/3.5;
}

/*글씨체*/
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


