@charset "UTF-8";

/* --글자--*/
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    /*font-size: 12px;*/
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }
  
  /*전체 박스 나누기*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.item:nth-child(3) {
	grid-column: 1 / 3 ;
	grid-row: 2 / 3;
}
.item:nth-child(4) {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
}

/* div 가로로 정렬 */
.tonari{
  display: flex;
	flex-direction : row;
  align-items: center;
}

.mypageh2{
	padding : 20px;
	  font-family : "Jua", sans-serif;
}

.item{
    border: 2px solid gray;
    padding: 20px;
    font-family : "Jua", sans-serif;
    font-size : larger;
}

#id.profileimg {
     width: 30vw;
	  object-fit: cover;
	  border-radius: 10px 10px 10px 10px;
	  aspect-ratio: 3/3.5;
}

/*글씨체*/
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


