@charset "UTF-8";

.calc-box{
    height: 320px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--ccm-yellow);
    border-radius: 15px;
    box-shadow: 3px 5px 8px -1px #9E9E9E;
}
.calc-box__column-first {
    width: 400px;
    height: 250px;
    background-color: white;

    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 7px -3px #ADADAD;
    
}
.calc-box__column-second {
    width: 20%;
    height: 80%;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 60%;
    width: 70%;
    
}

.calc-box__result-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    width: 190px;
    border-radius: 8px;
    position: absolute;
    left: -40px;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    transform: rotate(-1deg);
    box-shadow: 3px 5px 8px -1px #9E9E9E;
}
.calc-box__dailyc{
    height: 30px;
    margin-top: 40px;
    font-size: 23px;
}
.calc-box__reset-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#calc-box__btn-reset{
    background-color: var(--ccm-pink);
    color: white;
    font-size: 23px;
    text-align: center;
    height: 40px;
    width: 95px;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 5px 8px -1px #9E9E9E;
}
